<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %>!</p>
<p class="lead mb-3">THIS MESSAGE CAN ONLY BE SEEN BY LOGGIN IN. TRY VISITING THIS URL IN INCOGNITO MODE!</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>